.title {
    text-align: center;
}
.hpage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}























/* basic card stuff */


/* .home-card-container-1{
    background-color: #001427;
    border-radius: 20px;
    color: #E85465;
    height: 35rem;
    width: 60rem;
    margin: 5rem;
}

.home-card-container-2{
  background-color: #001427;
  border-radius: 20px;
  color: #E85465;
  height: 35rem;
  width: 60rem;
  margin: 5rem;
}

.home-card {
    background-color: #E85465;
    border-radius: 20px;
    color: #E85465;
    height: 10rem;
    width: 10rem;
    margin: auto;
    transition-duration: 1s;
} */

/* .link-card {
    height: 10rem;
    width: 10rem;
} */
/** Glowing Animations */
/* @keyframes glowing{
    0% {
        background-color: #2A9D8F;
        box-shadow: 0 0 3px #2A9D8F;
      }
      50% {
        background-color: #2A9D8F;
        box-shadow: 0 0 10px #2A9D8F;
      }
      100% {
        background-color: #2A9D8F;
        box-shadow: 0 0 3px #2A9D8F;
      }
}
@keyframes glowing_football{
    0% {
        background-color: #581908;
        box-shadow: 0 0 3px #581908;
      }
      50% {
        background-color: #581908;
        box-shadow: 0 0 10px #581908;
      }
      100% {
        background-color: #581908;
        box-shadow: 0 0 3px #581908;
      }
}
@keyframes glowing_baseball{
    0% {
        background-color: #F44E3F;
        box-shadow: 0 0 3px #F44E3F;
      }
      50% {
        background-color: #F44E3F;
        box-shadow: 0 0 10px #F44E3F;
      }
      100% {
        background-color: #F44E3F;
        box-shadow: 0 0 3px #F44E3F;
      }
}
@keyframes glowing_hockey{
    0% {
        background-color: #ffffff;
        box-shadow: 0 0 3px #ffffff;
      }
      50% {
        background-color: #ffffff;
        box-shadow: 0 0 10px #ffffff;
      }
      100% {
        background-color: #ffffff;
        box-shadow: 0 0 3px #ffffff;
      }
} */

/** hover animations */

/* .basketball-card:hover{
    transform: scale(1.1);
    animation: glowing 1300ms infinite;
    transition-duration: 1s;
}
.football-card:hover{
    transform: scale(1.1);
    animation: glowing 1300ms infinite;
    transition-duration: 1s;
}
.baseball-card:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    animation: glowing 1300ms infinite;
}
.hockey-card:hover{
    transform: scale(1.1);
    animation: glowing 1300ms infinite;
    transition-duration: 1s;
} */

/** EXPERIMENTS */

/* .soccer-card:hover{
    background-image: url("soccerpattern.jpg");
    transform: scale(1.1);
    transition-duration: 1s;
}

.hockey-card:hover{
    transform: scale(1.1);
    background-image: url("hockeypattern.jpg");
    transition-duration: 1s;
} */

/* .card-body home_card basketball-card{
    background-image: url("spback.jpg");
} */


