
.player_compare_card {
    height: 10%;
    width: 90%;
    margin: 1%;
    background-color: #001427;
    display: grid;
    grid-area: Card1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "Photo Buttons Graph1" 
        "PlayerInfo SeasonInfo Graph2";
    grid-gap: 10px;
    position: relative;
}

.player_compare_stats {
    grid-area: Buttons;
    background-color: #000B14;
    border: none;
    align-self: center;
    width: 7%;
    height: 100%;
}
