.content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.card-text {
    color: white;
}

.totd-card {
    border-radius: 20px;
    display: flex;
    margin: auto;
    transition-duration: 1s;
    background-color: #00203D;
}
.totd-img {
    height: 10rem;
    width: 10rem;
    border-radius: 20px;
    margin: auto;
}
.potd-card{
    border-radius: 20px;
    display: flex;
    margin: auto;
    transition-duration: 1s;
    background-color: #00203D;
}
.potd-img {
    height: 10rem;
    border-radius: 20px;
    width: 10rem;
    margin: auto;
}
