<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Player Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="../resources/css/my_style.css" rel="stylesheet">
  <style>
    table {
  border-spacing: 15px;
}
body {
  background-color: black;
}
  </style>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <a class="navbar-brand" href="home.html">
      <img class="rounded-circle" src="ralphie.jpg" alt="" width="30" height="30">
      </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="team_stats.html">Teams </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="player_info.html">Players</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    Select a Sport
                  </button>
                  <div class="dropdown-menu dropdown-menu-lg-right">
                    <button class="dropdown-item" type="button">Soccer</button>
                    <button class="dropdown-item" type="button">Basketball</button>
                    <button class="dropdown-item" type="button">Football</button>
                    <button class="dropdown-item" type="button">Baseball</button>
                  </div>
                </div>
        </div>
      </div>
    </nav>




<div class = "container" class = "rounded-corners;" style = "margin-top: 30px;">
  <div class = "row">
    <div class = "col-sm-4">
      <div class = "card" style = "background-color: rgb(11, 0, 65) ;">
        <h4 style = "text-align: center; color: crimson;" class = "card-title">Lebron James</h4>

        <div class = "card-body">
        <img class = "card-img-top" src = "https://www.discoverlosangeles.com/sites/default/files/styles/hero/public/media/sports/lebron_james_preseason_2018.jpg?itok=-l1GeKAX" alt = "Sample Image">
        <p class = "card-text" style = "margin-top:8px;color:crimson">
          Age:<br>
          Height:<br>
          Weight:<br>
        </p>
        </div>    
      </div>
    </div>

      <div class = "col-sm-7" >
        <div class = "card" style = "background-color: rgb(11, 0, 65) ;">
        <h4 style = "text-align: center; font-size: 40px;color: crimson;" class = "card-title">Season Statistics </h4>
        <img class = "card-img-top" src = "https://amp.businessinsider.com/images/51ba2667eab8ea1f7b000036-750-428.jpg" alt = "Sample Image">
        <span style = "text-align: center;">
          <a href="#" class="btn btn-primary">FG%</a>
          <a href="#" class="btn btn-primary">PPG</a>
          <a href="#" class="btn btn-primary">3PT%</a>
        </span>
        
      </div>
      </div>


  </div>    
  <br>
  <div class = "row">
    <div class = "col-sm-4">
      <div class = "card">
        <h4 style = "text-align: center; color: black;" class = "card-title">Schedule</h4>
        <table class = "table table-bordered table-sm">
          <thead>
            <tr>
              <th>(Home Team Name)</th>
              <th>(Opponent Team Name)</th>
              <th>Home Score</th>
              <th>Opponent Score</th>
            </tr>
            <tr>
              <td style= "color:red" >Lakers</td>
              <td style= "color:green">Heat</td>
              <td>100</td>
              <td>116</td>
            </tr>
            <tr>
              <td style= "color:green">Lakers</td>
              <td style= "color:red"> Celtics</td>
              <td>90</td>
              <td>70</td>
            </tr>
            <tr>
              <td style= "color:green">Lakers</td>
              <td style= "color:red">Jazz</td>
              <td>111</td>
              <td>85</td>
            </tr>
            
          </thead>
        </table>

      </div>
    </div>


    <div class = "col-md-8">
        <table class="table table-bordered table-md" style = "background-color: rgb(68, 68, 68);color:white">
          <thead>
            <tr>
              <th>Lebron James</th>
              <th>PPG</th>
              <th>Blocks</th>
              <th>Steals</th>
              <th>Rebounds</th>
              <th>Free Throws</th>
              <th>Field Goal</th>
              <th>3PT%</th>
              <th>Total Points</th>
            </tr>
          </thead>
      
          <tbody>
            <tr>
              <td>Regular Season</td>
              <td>y</td>
              <td>x</td>
              <td>y</td>
              <td>x</td>
              <td>y</td>
              <td>x</td>
              <td>y</td>
              <td>y</td>

            </tr>
            <tr>
              <td>Playoffs</td>
              <td>y</td>
              <td>x</td>
              <td>y</td>
              <td>x</td>
              <td>y</td>
              <td>x</td>
              <td>y</td>
              <td>y</td>

            </tr>
          </tbody>
        </table>
    </div>
    
  </div>

</div>



  </body>

  </html>