.team_stat_card{
    height: 48vh;
    width: 75vw;
    margin-top: 20px;
    margin-left: 300px;
    background-color: #001427;
    align-items: center;
}

.team_stat_text{
    color:  #2A9D8F;
    font-family: 'Cairo', sans-serif;
}

.team_stat_title{
    color:  #2A9D8F;
    font-family: 'Cairo', sans-serif;
}

.search_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
