.App {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.navbar {
    background-color: #001427;
}

body {
    background-color: #000B14;
}

.btnContainerApp {
    justify-content: center;
}