.player_stat_card {
    height: 48vh;
    width: 75vw;
    margin-top: 20px;
    margin-left: 300px;
    background-color: #001427;
    align-items: center;
}
.player_stat_title {
    color:  #2A9D8F;
    font-family: 'Cairo', sans-serif;

}
.player_stat_text {
    color:  #2A9D8F;
    font-family: 'Cairo', sans-serif;
}
